body{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    overflow: hidden;
}


.banner h1{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    font-weight: 80;
   /* position: relative;*/
   margin:0;
}
.banner h2{
    width: 55%;
}

.banner{
    display: flex;
    background-image: url(img/background.png);
    background-size: cover;
    color: white;
    border-top: 10px solid rgb(83,198,94);
    position: relative;
    justify-content: space-around;
    height: 600px;
}

.esquerda{
 /*margin-left: 200px;*/
 display: block; 
 justify-content: center;
 align-items: center;
 width:70%;
 /*padding-top: 50px;*/
 padding-left: 70px;
 margin: auto;
}

.direita{
    display: flex;
    align-items: flex-end;
    width: 30%;
}

#troca-cor{
    color: rgb(83,198,94);
}
.icone div:hover{
    color: rgb(83,198,94);
}

.icone img{
    margin-right: 10px; 
    /*border-radius: 100%;
    background-color: rgba(0, 0, 0 .2);*/
}
.icone{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.ios{
    background-color: rgba(0, 0, 0 .2);
    border-radius: 100%;
}